@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añadir fuente Inter para mejor estética */
body {
  font-family: 'Inter', sans-serif;
}